$font-family-serif: "Fanwood Text", serif;
$font-family-sans-serif: "Open Sans", sans-serif;

$white: #ffffff;
$black: #000000;
$light-grey: #cccccc;
$medium-grey: #9e9e9e;

body {
  background-color: $black;
}

.App {
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

/* ==== */
/* Home */
/* ==== */
.Home {
  height: 100%;
  width: 100%;
  font-family: "Fanwood Text";
  background-color: rgba(0,0,0, 0.5);
}

.Body {
  padding: 18.5% 27%;
}

.Section {
  margin-left: 29%;
}

.Home-title-a {
  width: 35%;
  img {width: 100%;}
}

.Home-title-b {
  width: 66%;
  margin-left: 29%;
  margin-top: 0.7rem;
}
.Home-title-c {
  width: 68%;
  margin-left: 27%;
}

.Home-text {
  margin-right: 5%;
  font-size: 1.2rem;
  line-height: 1.5rem;
/*    background-color: rgba(0,0,0, 0.7);
*/
  a {
    text-decoration: underline;
    text-underline-position: under;
    color: $light-grey;

  }
  a:hover {
    color: $white;
    cursor: pointer;
  }
}

.Section-links {
  display: block;
  font-size: 1.2rem;
  line-height: 0.5rem;
  margin: 7rem 0 7rem 7rem;
}

.Section-two {
  a {
    text-decoration: underline;
    text-underline-position: under;
    color: $light-grey;
  }
  a:hover {
    color: $white;
    cursor: pointer;
  }
}

.Section-three {
  margin-top: 5.5rem;
}

.hm-text li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
/* Images */
.Img-float {
  position: absolute;
  float: left;
  z-index: -1000;
}

.Img-float img {
  width: 270px;
  height: 270px;
}

.img-one {
  height: 800px;
  margin-top: 45%;
  margin-left: 17%;
}

.img-two {
  // height: 1200px;
  margin-top: 85%;
  margin-left: 75%
}

.img-three {
  // height: 2200px;
  margin-top: 136%;
  margin-left: 12%;
}

/*.Home {
  height: 100vh;
  text-align: center;
  margin-bottom: 4rem; }

.Home-wrapper {
  text-align: justify;
  padding: 2rem; }
  .Home-wrapper p {
    font-size: 0.9rem; }*/

.home-image-wrapper {
  display: none;
  width: 85%;
  position: relative;
  .home-image {
    margin: 2%;
  }
  .image-1 {
    left: 10%;
    width: 100%;
    height: 100%;
  }
  .image-2 {
    width: 45%;
    height: 45%
  }

}

.wrapper-3 {
  margin-top: 4rem;
}

/* ================== */
/* navigation & links */
/* ================== */
a, .page-links {
  color: $white;
  text-decoration: none;
}

a:hover, .page-links:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

a:visited, .page-links:visited {
  text-decoration: none;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; 
  text-align: center;
  padding: 2rem;
  a {
    .page-link {
      opacity: 0.8;
      img  {
        width: 36px;
        height: 100%;
      }
      p {
        margin: 0.5rem 0;
      }
    }
  }
  a:hover {
    .page-link {
      opacity: 1;
    }
  }
}

.page-navigation-home {
  font-family: $font-family-sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; 
  text-align: center;
  padding: 2rem;
  a {
    .page-link {
      opacity: 0.8;
      img  {
        width: 36px;
        height: 100%;
      }
      p {
        margin: 0.5rem 0;
      }
    }
  }
  a:hover {
    .page-link {
      opacity: 1;
    }
  }
}
// ====================
// navbar
// ====================
.Navbar-logo a:hover {
  text-decoration: none;
}

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;

  .Navbar-bar {
    // background-color: $black;
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(bottom, transparent, red);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, transparent, black);
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
    background: -webkit-linear-gradient(bottom, transparent, black);
    background: -o-linear-gradient(bottom, transparent, black);
    background: linear-gradient(to top, transparent, black);
    /* Standard syntax (must be last) */
  }
  .Navbar-logo {
    opacity: 1;
    font-family: $font-family-serif;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }
  .Navbar-links {
    opacity: 1;
    position: absolute;
    right: 2rem;
    top: 1rem;
    .Navbar-link {
      padding: 0 1.5rem;
    }
  }
}

// ======================
// burger navbar
// ======================
.Burger-navbar, .bm-burger-button {
  display: block;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 33px;
  height: 25px;
  right: 2rem;
  top: 2rem;
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $light-grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin: 1rem;
  height: 55px;
  width: 55px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $light-grey;
}

/* General sidebar styles */
.bm-menu {
  background: $black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: $light-grey;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 1);
}

.menu-item {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.Burger-navbar hr {
  margin-top: 2rem;
  border: 0.5px solid $white;
  opacity: 0.5;
}
// =============================
// responsive grid
// =============================
.wrapper {
  margin: 0 auto;
  padding: 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
  flex-flow: row wrap;
}

.grid-box {
  font-family: $font-family-sans-serif;
}

.box {
  line-height: 0;
  position: relative;
  text-align: center;
  .box-number {
    display: none;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

}

.box:hover {  
  .box-number {
    display: block;
    text-shadow: 0.5px 1px 40px #636363;
  }
  cursor: pointer;
}
.small-box {
  font-weight: 800;
  font-size: 3rem;
  img {
    height: 230px;
    width: 100%;
  }
}

.medium-box {
  font-size: 4.5rem;
  img {
    height: 400px;
    width: 100%;
  }
}

.large-box {
  font-size: 6.5rem;
  text-align: left;

  img {
    // height: 100%; 
    width: 100vw;
  }
  .box-number {
    margin-left: 4rem;
    top: 25%;
    left: 20%;
    transform: translate(-75%, -80%);}
}

// =======================
// Grid Opacity Styles
// =======================
.opacity {
  opacity: 0.4
}

.opacity:hover {
  opacity: 1;

}

// =========================
// Modal / sidebar / player
// =========================
.Modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // background-color: $black;
  // opacity: 0.5;
  width: 320px;
  height: 100vh;
  overflow: scroll;

}

.Modal:focus {
  outline: 0;
  opacity: 1;
}

.button img {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 33px;
  height: 33px;
}

.button:hover {
  cursor: pointer;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  // background-color: $black;
  // opacity: 0.5;
  width: 320px;
  height: 100vh;
  z-index: 2000;
}

.Modal-background {
  position: fixed;
  top: 0;
  // right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 0.75;
  width: 600px;
  height: 100vh;
  z-index: -100;
}

// Sidebar
.Sidebar {
  font-family: $font-family-sans-serif;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: $white;
  opacity: 1;
  z-index: 100;
  a {
    text-decoration: underline;
    text-underline-position: under;
  }
  a:hover {
    color: $light-grey;
  }
}

.player-container {
  opacity: 1;
}

.song-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sidebar-number {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 4rem;
}

.sidebar-title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 1.3rem;
}

.sidebar-song-title {
  margin: 1.2rem 0 0 0;
  padding: 0;
  font-family: $font-family-serif;
  font-size: 1.4rem;
  -webkit-text-stroke: 1px $white;
  top:0;

}

.sidebar-artist {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1.2rem;
}

.sidebar-line {
  margin-top: 0;
}

.sidebar-description {
  // text-align: justify;
  line-height: 1.25rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.sidebar-credit {
  margin-top: 2rem;
  font-size: 1rem;
  color: $medium-grey;
}


// ===========
// footer
// ===========
.footer {
  // margin-left: 27%;
  line-height: 1rem;
  font-family: $font-family-sans-serif;
  font-size: 0.8rem;
  color: $white;
  opacity: 0.7;
  // text-align: center;
} 
.footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: center;
}
.footer-links-item {
  margin: 2rem;
}

.bottom-span {
  margin-bottom: 2rem; 
  text-align: center;
}

.footer-link-div {
  margin-bottom: 0.7rem;
}

a.footer-link:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: $light-grey;
}

// =======================
// media queries =========
// =======================
// max-width
@media screen and (max-width: 680px) {
  .Navbar {
    display: none;
  }
  .large-box {
    font-size: 4.5rem;
  }
  .Sidebar {
    padding: 1.5rem 1rem;
  }
  .Body {
    padding: 12% 1%;
  }
  .home-image-wrapper {
    display: flex;
  }
  .Img-float {
    display: none;
  }
  .Section {
    margin-left: 0;
  }
  .Section-links {
    margin: 3rem 0 3rem 3rem;
    h2 {
      font-size: 1.5rem;
    }
  }
  ul {
    -webkit-padding-start: 2rem;
  }
  .Section-three {
    margin-top: 4rem;
  }
  .img-one {
    margin-left: 0;
  }
  .img-two {
    margin-top: 1000px;
    margin-left: 15%;
  }
  .img-three {
    margin-top: 1800px;
    margin-left: 0;
  }
  .footer {
    // margin: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .Body {
    padding: 22% 5%;
  }
}
// min-width
@media screen and (min-width: 300px) {
  .small-box {
    width: calc((100% / 2));
    img {
      height: 180px; 
    }
  }
  .large-box {
    font-size: 5.5rem;
    .box-number {
      margin-left: 4rem;
      top: 45%;
      left: 20%;
      transform: translate(-75%, -80%);
    }

  }
  .Home-wrapper {
    padding: 6rem 2.5rem 1rem 2.5rem;
  } 
  .bm-burger-button {
    right: 3rem;
    top: 2rem;
  }

}

@media screen and (min-width: 500px) {
  .small-box {
    width: calc((100% / 3));
    img {
      height: 33%;
    }
  }
  .medium-box {
    width: 50%;
    img {
      height: 50%; 
    }
  }
  .Home-wrapper {
    padding: 5rem 5rem;
  } 
  .Modal, .Overlay {
    width: 430px;
    height: 100vh;
  }
  .Sidebar {
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 680px) {
  .Burger-navbar, .bm-burger-button {
    display: none;
  }
  .small-box {
    width: calc(100% / 4);
    img {
      height: 25%;
    }
  }
  // .wrapper {
  //   margin: 0;
  // }
  .Home-wrapper {
    padding: 6rem 8rem;
  } 
}

@media screen and (min-width: 720px) {
  // .wrapper {
  //   margin: 0;
  // }
  .Home-wrapper {
    padding: 8rem 10rem;
  } 
}

@media screen and (min-width: 860px) {
  .Home-wrapper {
    padding: 8rem 13rem;
  }
}

@media screen and (min-width: 1000px) {
  .small-box {
    width: calc(100% / 6);
    img {
      height: 17%
    }
  }
  .Home-wrapper {
    padding: 20% 30%;
  } 
}