@import 'variables';
@import 'hero';
@import 'list';
@import 'navbar';
@import 'footer';

html, body {
	background-color: #ffffff;
	
}

.App-2018 {
	h1, h2, h3, h4, h5, h6, p, a {
		color: #000000;
		font-family: 'Merriweather', serif;
	}
	h1 { font-weight: 600; font-size: 4em; }
	h2 { font-weight: 500; font-size: 3.5em; }
	h3 { font-weight: 500; font-size: 3em; }
	h4 { font-weight: 400; font-size: 2em; }
	h5 { font-weight: 400; font-size: 1em; }
	h6 { font-weight: 400; font-size: 0.8em; }

	p, ul, li, a {
		font-family: "Open Sans", sans-serif;
	}

	@media only screen and (max-width: 768px) {
		h1 { font-weight: 600; font-size: 3.5em; }
		h2 { font-weight: 500; font-size: 3.25em; }
		h3 { font-weight: 500; font-size: 2.5em; }
		h4 { font-weight: 400; font-size: 1.75em; }
		h5 { font-weight: 400; font-size: 1em; }
		h6 { font-weight: 400; font-size: 0.8em; }
	}
}

.Player {
	position: fixed;
	margin: 55px auto;
	top: 0;
	@media only screen and (max-width: 768px)  {
		display: flex;
		justify-content: center;
		left:0;
		right: 0;
		height: auto;
	}
}

.hidden {
	display: none;
}
