@import 'hero';
@import 'list';
@import 'navbar';

html, body {
	background-color: #ffffff;
	font-family: "Open Sans";
}

.App-2018 {
	h1, h2, h3, h4, h5, h6, p, a {
		color: #000000;
	}
}

.Player {
	position: fixed;
	top: 0;
	@media only screen and (max-width: 768px)  {
		// width: 100%;
		// height: auto;
	}
}