.Footer-18 {
	background-color: black;
	color: white;
	font-size: 0.8rem;
	opacity: 1;
	.footer-links-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.footer-links-item {
		h4 {
			font-size: 1em;
			color: white;
			margin: 0 0 1em 0;
		}
	}
	a.footer-link {
		color: white;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
}

.bottom-span {
  padding-bottom: 2rem; 
  text-align: center;
  background-color: black;
}

