.Nav-18 {
	display: flex;
	height: 45px;
	background-color: #000;
	.Logo-18 {
		width: 42px;
		height: 42px;
		margin-left: 1em;
		img {
			background-repeat: no-repeat;
			background-size: contain;
		}
		//background-repeat: no-repeat;
		//background-size: cover;
	}
}